body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
  box-sizing: border-box;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.header {
  background: linear-gradient(100.51deg, #4ebefe 0%, #378fd9 100%);
  padding: 60px 0 93px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  }

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 37px;
  line-height: 49px;
  width: 540px;
}

.title span {
  font-size: 59px;
  line-height: 73px;
}

.intro {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin: 35px 0 43px;
  width: 390px;
}

.title,
.title span,
.intro {
  color: #fff;
}

.btn-dream {
  background-color: #ffd429;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 900;
  display: block;
  padding: 15px 0 14px;
  text-align: center;
  text-decoration: none;
  width: 222px;
  transition: all 0.5s ease;
}

.btn-dream:hover {
  background-color: #fff;
  color: black;
}

.main-container {
  margin: 100px auto;
}

.container-title {
  font-size: 30px;
  line-height: 27px;
  text-align: center;
}

.items {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.item {
  width: 289px;
}

.item-time {
  background: url(../img/time.jpg) no-repeat center top;
  margin-top: 80px;
}

.item-beach {
  background: url(../img/beach.jpg) no-repeat center top;
  margin-top: 72px;
}

.item-launch {
  background: url(../img/launch.jpg) no-repeat center top;
  margin-top: 70px;
}

.item-title {
  font-size: 19px;
  line-height: 27px;
}

.time {
  margin-top: 82px;
}

.item-text {
  margin: 15px auto 0;
  font-size: 15px;
  line-height: 22px;
}

.beach {
  margin-top: 90px;
}

.launch {
  margin-top: 92px;
}

.form {
  background-color: #ecf3f8;
  padding: 100px 0;
  text-align: center;
}

.form-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-form {
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 70px;
}

input {
  height: 56px;
  margin-bottom: 16px;
  padding: 20px 30px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  max-width: 340px;
  width: 100%;
}

.btn {
  margin: 0 auto;
  max-width: 340px;
  width: 100%;
}

.footer {
  background-color: #164d7a;
  text-align: center;
  padding: 58px 0 57px;
}

.footer p {
  color: #fff;
  font-size: 14px;
  line-height: 27px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 1170px;
  }

  .offer {
    width: clamp(300px, 12vw, 548px);
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .title {
    width: 450px;
  }

  .title span {
    font-size: 50px;
  }

  .intro {
    width: 370px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .logo {
    margin-bottom: 40px;
  }

  .travel {
    display: block;
  }

  .offer {
    width: 100%;
  }

  .title {
    width: 100%;
  }
  .intro {
    width: 77%;
  }

  .main-container {
    width: 720px;
    margin: 50px auto;
    align-items: center;
  }

  .wrapper {
    flex-direction: column;
  }

  .items {
    flex-direction: column;
    align-items: center;
  }

  .item {
    max-width: 100%;
  }

  .item-time {
    margin: 50px auto;
  }

  .item-beach {
    margin: 0 auto;
  }

  .item-launch {
    margin: 50px auto 0;
  }

  .form {
    padding: 50px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .offer {
    width: 100%;
  }

  .travel {
    margin-top: 50px;
    width: 540px;
    height: 540px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }

  .travel {
  witdth: 250px;
  height: 250px;
  }
  
  .form-items {
    width: 70%;
    margin: auto;
  }

  .btn {
    margin: 0;
  }
 }
